In [1]:
import pandas as pd

In [3]:
date=pd.date_range("1/1/2020",periods=10,freq="M")

In [4]:
date

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

In [7]:
x=pd.datetime.now()

In [8]:
x.time()

datetime.time(9, 59, 16, 669564)

In [11]:
x.date()

datetime.date(2020, 5, 2)

In [17]:
date_1=pd.DataFrame()
date_1['date']=pd.date_range(pd.datetime.now(),periods=10,freq="H")

In [18]:
date_1

                        date
0 2020-05-02 10:07:05.873306
1 2020-05-02 11:07:05.873306
2 2020-05-02 12:07:05.873306
3 2020-05-02 13:07:05.873306
4 2020-05-02 14:07:05.873306
5 2020-05-02 15:07:05.873306
6 2020-05-02 16:07:05.873306
7 2020-05-02 17:07:05.873306
8 2020-05-02 18:07:05.873306
9 2020-05-02 19:07:05.873306

In [19]:
date_1[:5]

                        date
0 2020-05-02 10:07:05.873306
1 2020-05-02 11:07:05.873306
2 2020-05-02 12:07:05.873306
3 2020-05-02 13:07:05.873306
4 2020-05-02 14:07:05.873306

In [21]:
date_1["year"]=date_1['date'].dt.year
date_1["day"]=date_1["date"].dt.day
date_1["month"]=date_1["date"].dt.month

In [22]:
date_1

                        date  year  day  month
0 2020-05-02 10:07:05.873306  2020    2      5
1 2020-05-02 11:07:05.873306  2020    2      5
2 2020-05-02 12:07:05.873306  2020    2      5
3 2020-05-02 13:07:05.873306  2020    2      5
4 2020-05-02 14:07:05.873306  2020    2      5
5 2020-05-02 15:07:05.873306  2020    2      5
6 2020-05-02 16:07:05.873306  2020    2      5
7 2020-05-02 17:07:05.873306  2020    2      5
8 2020-05-02 18:07:05.873306  2020    2      5
9 2020-05-02 19:07:05.873306  2020    2      5