# Iterating over rows and columns in Pandas DataFrame

### There are two type
#### 1.Iterating over rows
#### 2.Iterating over columns

Iterating over rows :
  1.iteritems()
  2.iterrows()
  3.itertuples()

In [3]:
import pandas as pd

In [1]:
data={"name": ["kiran","karthi","imam","pawan","maruthi"],
     "state": ["karnataka","AP","UP","Delhi","tamil"],
     "city": ["bangalore","vizag","manipur","New Delhi","chennai"]}

In [5]:
df=pd.DataFrame(data)

In [6]:
df

      name      state       city
0    kiran  karnataka  bangalore
1   karthi         AP      vizag
2     imam         UP    manipur
3    pawan      Delhi  New Delhi
4  maruthi      tamil    chennai

In [10]:
#iterrows
for i,j in df.iterrows():
    print(i,j)
    print()

0 name         kiran
state    karnataka
city     bangalore
Name: 0, dtype: object

1 name     karthi
state        AP
city      vizag
Name: 1, dtype: object

2 name        imam
state         UP
city     manipur
Name: 2, dtype: object

3 name         pawan
state        Delhi
city     New Delhi
Name: 3, dtype: object

4 name     maruthi
state      tamil
city     chennai
Name: 4, dtype: object

In [11]:
# iteritems
for key,value in df.iteritems():
    print(key,value)
    print()

name 0      kiran
1     karthi
2       imam
3      pawan
4    maruthi
Name: name, dtype: object

state 0    karnataka
1           AP
2           UP
3        Delhi
4        tamil
Name: state, dtype: object

city 0    bangalore
1        vizag
2      manipur
3    New Delhi
4      chennai
Name: city, dtype: object

In [12]:
#itertuples() function inorder to get tuple for each row
for i in df.itertuples():
    print(i)

Pandas(Index=0, name='kiran', state='karnataka', city='bangalore')
Pandas(Index=1, name='karthi', state='AP', city='vizag')
Pandas(Index=2, name='imam', state='UP', city='manipur')
Pandas(Index=3, name='pawan', state='Delhi', city='New Delhi')
Pandas(Index=4, name='maruthi', state='tamil', city='chennai')

# Iterating over Columns :
In order to iterate over columns, we need to create a list of dataframe 
columns and then iterating through that list to pull out the dataframe columns.

In [13]:
columns=list(df)

In [14]:
for i in columns:
    print(df[i][1])

karthi
AP
vizag